@font-face {
  font-family: 'f';
  src: url('Futura.eot');
  src: url('Futura.woff2') format('woff2'),
       url('Futura.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'flt';
  src: url('FuturaLT.woff') format('woff'),
       url('FuturaLT.ttf') format('truetype'),
       url('FuturaLT.svg#FuturaLT') format('svg');
  font-weight: normal;
  font-style: normal;
}
    * {
      margin: 0;
      font-family: 'flt','f';
    }
    html {
      background: #48C0A3;
    }
    .container {
      position:absolute; 
      top:25%;
      left:50%;
      transform:translate(-50%,-25%);
    }
    .head {
      font-size: 4em;
      text-align: center;
      color: #fff;
    }
    .coming {
      text-align: center;
      margin-top: 1.5em;
      font-size: 1.3em;
      color: #fff;
    }
    .logo {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: center;
      font-size: 0;
    }
    .logo img {
      width: 90%;
      bottom: 0;
    }
    
    @media (min-width: 600px) {
      .logo {
        height: 30%;
      }
      .logo img{
        height: 100%;
        width: initial;
      }
    }